.table {
  border-collapse: collapse;
  width: 100%;
}

.table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.table tr:last-child td {
  border-bottom: none;
}

ul {
  padding: 0;
  margin: 0;
}
.card {
  cursor: pointer;
}
